body {
  text-align: center;
  background-color: hsl(219, 30%, 34%);
}

#board {
  width: 1280px;
  height: 720px;
  background-color: black;
}

h1 {
  color: rgb(198, 216, 221);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}